    header, nav, main {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    div#heroImage {
        margin: 0 auto;
    }
    
    nav ul {padding-left: $gutter;}
    nav li {width: auto;}
    nav a {padding: .5rem 1rem;}
    
    main figure { width: 33%}
    
    div.news {column-count: 1;}

   
